*.iws
.idea_modules/
/.README.md
/.editorconfig
/.github/build-readme.js
/.github/squirt-image.afphoto
/.gitignore
/.idea
/.nvmrc
/docker
/docker-compose.yml
/rollup-client.config.js
/rollup-server.config.js
/src
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/
